Repository fullsmartdev/rules, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gregmagolan, @soldair, @alexeagle, @alan-agius4, @mrmeku, @jbedard, @zachgrayio, @zMotivat0r, @rayman1104, @siberex

.github/CODEOWNERS:

# This file was generated by rules_codeowners / Bazel
# Don't edit it directly

* @gregmagolan @soldair @alexeagle
/packages/angular/** @alan-agius4 @alexeagle
/packages/labs/** @mrmeku @alexeagle
/packages/rollup/** @jbedard @alexeagle
/examples/nestjs/** @zachgrayio @zMotivat0r @rayman1104 @siberex @alexeagle

docs: index of examples
  docs/README.md
  docs/_includes/drawer.html
  docs/examples.md
  examples/angular/README.md
  examples/angular_bazel_architect/README.md
  examples/angular_view_engine/README.md
  examples/jest/README.md
Owners: @gregmagolan, @soldair, @alexeagle

fix(labs): handle const/let syntax in generated protoc js
  packages/labs/src/grpc_web/BUILD.bazel
  packages/labs/src/grpc_web/change_import_style.js
  packages/labs/test/grpc_web/proto/BUILD.bazel
  packages/labs/test/grpc_web/proto/pizza_service.proto
Owners: @mrmeku, @alexeagle

chore: update dependency com_google_protobuf to v3.12.2
  examples/protocol_buffers/WORKSPACE
Owners: @gregmagolan, @soldair, @alexeagle

chore: cleanup protractor macro
  packages/protractor/protractor_web_test.bzl
Owners: @gregmagolan, @soldair, @alexeagle

chore: update dependency io_bazel_rules_docker to v0.14.2
  examples/angular/WORKSPACE
  examples/nestjs/WORKSPACE
Owners: @gregmagolan, @soldair, @alexeagle, @zachgrayio, @zMotivat0r, @rayman1104, @siberex

fix(builtin): fix linker common path reduction bug where reduced path conflicts with node_modules
  internal/linker/index.js
  internal/linker/link_node_modules.ts
  internal/linker/test/link_node_modules.spec.ts
Owners: @gregmagolan, @soldair, @alexeagle

fixup! refactor(jasmine): no longer a nested package
  examples/user_managed_deps/BUILD.bazel
  examples/user_managed_deps/WORKSPACE
  packages/jasmine/jasmine_node_test.bzl
Owners: @gregmagolan, @soldair, @alexeagle

refactor(labs): no longer a nested workspace
  WORKSPACE
  examples/protocol_buffers/BUILD.bazel
  examples/protocol_buffers/WORKSPACE
  internal/js_library/js_library.bzl
  packages/labs/BUILD.bazel
  packages/labs/README.md
  packages/labs/grpc_web/BUILD.bazel
  packages/labs/grpc_web/README.md
  packages/labs/grpc_web/change_import_style.js
  packages/labs/grpc_web/package.json
  packages/labs/grpc_web/ts_proto_library.bzl
  packages/labs/grpc_web/yarn.lock
  packages/labs/index.bzl
  packages/labs/mock_io_bazel_rules_closure.bzl
  packages/labs/package.bzl
  packages/labs/package.json
  packages/labs/protobufjs/BUILD.bazel
  packages/labs/protobufjs/package.json
  packages/labs/protobufjs/ts_proto_library.bzl
  packages/labs/protobufjs/yarn.lock
  packages/labs/src/WORKSPACE
  packages/labs/src/index.bzl
  packages/labs/test/grpc_web/BUILD.bazel
  packages/labs/test/grpc_web/proto/BUILD.bazel
  packages/labs/test/grpc_web/proto/common/BUILD.bazel
  packages/labs/test/protobufjs/BUILD.bazel
Owners: @gregmagolan, @soldair, @alexeagle, @mrmeku

chore: cleanup some npm_bazel_* remnants (#1922)
  WORKSPACE
  examples/angular/WORKSPACE
  examples/angular_view_engine/WORKSPACE
  examples/user_managed_deps/README.md
  internal/node/test/BUILD.bazel
  packages/index.bzl
  packages/jasmine/BUILD.bazel
  packages/karma/install.md
  packages/karma/package.bzl
  packages/labs/package.bzl
  packages/protractor/package.bzl
  packages/typescript/internal/devserver/ts_devserver.bzl
  packages/typescript/internal/internal_ts_repositories.bzl
Owners: @gregmagolan, @soldair, @alexeagle, @mrmeku

chore: update dependency bazel_toolchains to v3.2.0
  examples/angular/WORKSPACE
  examples/angular_view_engine/WORKSPACE
  package.bzl
Owners: @gregmagolan, @soldair, @alexeagle

chore: warn on usage of install_bazel_dependencies
  WORKSPACE
  docs/repositories.md
  e2e/bazel_managed_deps/WORKSPACE
  e2e/jasmine/WORKSPACE
  e2e/ts_devserver/WORKSPACE
  e2e/typescript/WORKSPACE
  e2e/webapp/WORKSPACE
  examples/angular/WORKSPACE
  examples/angular_bazel_architect/WORKSPACE
  examples/angular_view_engine/WORKSPACE
  examples/app/WORKSPACE
  examples/jest/WORKSPACE
  examples/kotlin/WORKSPACE
  examples/nestjs/WORKSPACE
  examples/parcel/WORKSPACE
  examples/protocol_buffers/WORKSPACE
  examples/react_webpack/WORKSPACE
  examples/vendored_node/WORKSPACE
  examples/vendored_node_and_yarn/WORKSPACE
  examples/web_testing/WORKSPACE
  examples/webapp/WORKSPACE
  internal/npm_install/generate_build_file.ts
  internal/npm_install/index.js
  internal/npm_install/test/golden/install_bazel_dependencies.bzl.golden
  packages/create/index.js
Owners: @gregmagolan, @soldair, @alexeagle, @zachgrayio, @zMotivat0r, @rayman1104, @siberex

chore: remove @angular/bazel references from example
  examples/BUILD.bazel
  examples/angular/angular.json
  examples/angular/package.json
  examples/angular/yarn.lock
Owners: @gregmagolan, @soldair, @alexeagle

ci: re-enable Angular architect test on Windows
  examples/BUILD.bazel
Owners: @gregmagolan, @soldair, @alexeagle

chore: update dependency com_google_protobuf to v3.12.3
  examples/protocol_buffers/WORKSPACE
Owners: @gregmagolan, @soldair, @alexeagle

fix(terser): allow fallback binary resolution
  packages/terser/index.js
Owners: @gregmagolan, @soldair, @alexeagle

chore: update dependency build_bazel_rules_nodejs to v1.7.0
  examples/angular/WORKSPACE
  examples/angular_bazel_architect/WORKSPACE
  examples/angular_view_engine/WORKSPACE
  examples/app/WORKSPACE
  examples/closure/WORKSPACE
  examples/jest/WORKSPACE
  examples/kotlin/WORKSPACE
  examples/nestjs/WORKSPACE
  examples/parcel/WORKSPACE
  examples/protocol_buffers/WORKSPACE
  examples/react_webpack/WORKSPACE
  examples/vendored_node/WORKSPACE
  examples/vendored_node_and_yarn/WORKSPACE
  examples/web_testing/WORKSPACE
  examples/webapp/WORKSPACE
  examples/worker/WORKSPACE
Owners: @gregmagolan, @soldair, @alexeagle, @zachgrayio, @zMotivat0r, @rayman1104, @siberex

Add linux arm64 support
  docs/install.md
  internal/common/os_name.bzl
  internal/node/launcher.sh
  internal/node/node_repositories.bzl
  internal/node/test/nodejs_toolchain_test.bzl
  packages/typescript/devserver/BUILD.bazel
  toolchains/node/BUILD.bazel
Owners: @gregmagolan, @soldair, @alexeagle

chore: update dependency io_bazel_rules_docker to v0.14.3
  examples/angular/WORKSPACE
  examples/nestjs/WORKSPACE
Owners: @gregmagolan, @soldair, @alexeagle, @zachgrayio, @zMotivat0r, @rayman1104, @siberex

chore: rename a npm dependency to demonstrate that it doesn't need to be 'npm'
  examples/webapp/BUILD.bazel
  examples/webapp/WORKSPACE
  examples/webapp/differential_loading.bzl
Owners: @gregmagolan, @soldair, @alexeagle

refactor: remove install_source_map_support from nodejs_binary since it is vendored in
  examples/angular/tools/angular_prerender.bzl
  internal/bazel_integration_test/BUILD.bazel
  internal/node/node.bzl
  internal/node/require_patch.js
  internal/npm_install/BUILD.bazel
  internal/npm_install/generate_build_file.ts
  internal/npm_install/index.js
  internal/npm_install/test/BUILD.bazel
  internal/npm_install/test/golden/@gregmagolan/test-a/bin/BUILD.bazel.golden
  internal/npm_install/test/golden/@gregmagolan/test-a/index.bzl.golden
  internal/npm_install/test/golden/jasmine/bin/BUILD.bazel.golden
  internal/npm_install/test/golden/jasmine/index.bzl.golden
  internal/pkg_npm/BUILD.bazel
  internal/pkg_web/BUILD.bazel
  packages/karma/BUILD.bazel
  packages/labs/protobufjs/BUILD.bazel
Owners: @gregmagolan, @soldair, @alexeagle, @mrmeku

feat(typescript): include label in the ts_project progress message (#1944)
  packages/typescript/internal/ts_project.bzl
Owners: @gregmagolan, @soldair, @alexeagle

feat(typescript): add outdir to ts_project
  packages/typescript/internal/ts_project.bzl
  packages/typescript/test/ts_project/outdir/BUILD.bazel
  packages/typescript/test/ts_project/outdir/a.golden.cjs
  packages/typescript/test/ts_project/outdir/a.golden.js
  packages/typescript/test/ts_project/outdir/a.ts
  packages/typescript/test/ts_project/outdir/tsconfig.json
Owners: @gregmagolan, @soldair, @alexeagle

chore: upgrade Bazel core packages
  examples/parcel/parcel.bzl
  internal/common/copy_to_bin.bzl
  internal/common/params_file.bzl
  internal/coverage/BUILD.bazel
  internal/js_library/js_library.bzl
  internal/linker/test/integration/rule.bzl
  internal/node/npm_package_bin.bzl
  internal/npm_install/node_module_library.bzl
  internal/npm_install/npm_install.bzl
  internal/npm_install/npm_umd_bundle.bzl
  internal/pkg_npm/pkg_npm.bzl
  internal/pkg_web/pkg_web.bzl
  internal/providers/linkable_package_info.bzl
  internal/providers/node_runtime_deps_info.bzl
  package.json
  packages/karma/karma_web_test.bzl
  packages/labs/protobufjs/ts_proto_library.bzl
  packages/protractor/protractor_web_test.bzl
  packages/rollup/rollup_bundle.bzl
  packages/terser/terser_minified.bzl
  packages/typescript/internal/build_defs.bzl
  packages/typescript/internal/devserver/ts_devserver.bzl
  packages/typescript/internal/ts_config.bzl
  packages/typescript/internal/ts_project.bzl
  yarn.lock
Owners: @gregmagolan, @soldair, @alexeagle, @mrmeku, @jbedard

feat: introduce generated_file_test
  .github/BUILD.bazel
  BUILD.bazel
  index.bzl
  index.for_docs.bzl
  internal/generated_file_test/BUILD.bazel
  internal/generated_file_test/bin.js
  internal/generated_file_test/generated_file_test.bzl
  internal/golden_file_test/BUILD.bazel
  internal/golden_file_test/bin.js
  internal/golden_file_test/golden_file_test.bzl
  internal/linker/BUILD.bazel
  internal/linker/test/integration/BUILD.bazel
  internal/node/BUILD.bazel
  internal/node/test/BUILD.bazel
  internal/npm_install/test/BUILD.bazel
  internal/npm_install/test/check.js
  packages/rollup/test/integration/BUILD.bazel
  packages/rollup/test/integration/accept.sh
  packages/rollup/test/plugins/BUILD.bazel
  packages/rollup/test/version_stamp/BUILD.bazel
  packages/terser/test/args/BUILD.bazel
  packages/terser/test/debug/BUILD.bazel
  packages/terser/test/user_config/BUILD.bazel
  packages/typescript/checked_in_ts_project.bzl
  packages/typescript/test/ts_project/simple/BUILD.bazel
  scripts/update_codeowners.sh
Owners: @gregmagolan, @soldair, @alexeagle, @jbedard

fix: don't expose an npm dependency from builtin
  examples/BUILD.bazel
  examples/parcel/BUILD.bazel
  examples/parcel/bundle.golden.js_
  examples/parcel/package-lock.json
  examples/parcel/package.json
  examples/parcel/parcel.spec.js
  internal/generated_file_test/BUILD.bazel
  internal/generated_file_test/bin.js
  internal/generated_file_test/generated_file_test.bzl
  internal/generated_file_test/rollup.config.js
Owners: @gregmagolan, @soldair, @alexeagle

ci: fix in-flight semantic breakage
  packages/typescript/test/ts_project/outdir/BUILD.bazel
Owners: @gregmagolan, @soldair, @alexeagle

feat(builtin): add DeclarationInfo to js_library
  internal/js_library/js_library.bzl
  internal/providers/declaration_info.bzl
  packages/typescript/internal/ts_project.bzl
  packages/typescript/test/ts_project/js_library/BUILD.bazel
  packages/typescript/test/ts_project/js_library/a.d.ts
  packages/typescript/test/ts_project/js_library/a.js
  packages/typescript/test/ts_project/js_library/b.ts
  packages/typescript/test/ts_project/js_library/tsconfig.json
  providers.bzl
Owners: @gregmagolan, @soldair, @alexeagle

chore: fix rebase conflict
  internal/providers/declaration_info.bzl
  packages/typescript/test/ts_project/js_library/BUILD.bazel
  packages/typescript/test/ts_project/js_library/tsconfig.json
Owners: @gregmagolan, @soldair, @alexeagle
