Repository fullsmartdev/rules, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mattem, @gregmagolan, @soldair, @alexeagle, @mrmeku, @jbedard, @alan-agius4, @zachgrayio, @zMotivat0r, @rayman1104, @siberex

.github/CODEOWNERS:

# AUTO GENERATED edits will be lost
# To update, run:
#    yarn update-codeowners

* @mattem @gregmagolan @soldair @alexeagle
/packages/labs/** @mrmeku @alexeagle @mattem
/packages/rollup/** @jbedard @alexeagle @mattem
/packages/angular/** @alan-agius4 @alexeagle @mattem
/examples/nestjs/** @zachgrayio @zMotivat0r @rayman1104 @siberex @alexeagle @mattem
/examples/protocol_buffers/** @mrmeku @alexeagle @mattem
/examples/angular_bazel_architect/** @alan-agius4 @alexeagle @mattem

build(deps): bump mixin-deep in /e2e/fine_grained_symlinks
  e2e/fine_grained_symlinks/yarn.lock
Owners: @mattem, @gregmagolan, @soldair, @alexeagle

build(deps): bump acorn in /e2e/fine_grained_symlinks
  e2e/fine_grained_symlinks/yarn.lock
Owners: @mattem, @gregmagolan, @soldair, @alexeagle

chore: add disclaimer about lack of Google support
  README.md
Owners: @mattem, @gregmagolan, @soldair, @alexeagle

chore(examples): upgrade angular example to angular 10.0.0-rc.2
  examples/angular/package.json
  examples/angular/patches/@angular+compiler-cli+10.0.0-rc.6.patch
  examples/angular/yarn.lock
Owners: @mattem, @gregmagolan, @soldair, @alexeagle

feat: add JSModuleInfo provider
  internal/js_library/js_library.bzl
  internal/node/node.bzl
  internal/node/npm_package_bin.bzl
  internal/npm_install/node_module_library.bzl
  internal/pkg_npm/pkg_npm.bzl
  internal/providers/js_providers.bzl
  packages/jasmine/jasmine_node_test.bzl
  packages/karma/karma_web_test.bzl
  packages/labs/grpc_web/ts_proto_library.bzl
  packages/labs/protobufjs/ts_proto_library.bzl
  packages/protractor/protractor_web_test.bzl
  packages/rollup/rollup_bundle.bzl
  packages/terser/terser_minified.bzl
  packages/terser/test/js_srcs/BUILD.bazel
  packages/terser/test/js_srcs/produces_js_as_defaultinfo.bzl
  packages/terser/test/js_srcs/src1.js
  packages/terser/test/js_srcs/src1b.js
  packages/terser/test/js_srcs/src2.js
  packages/terser/test/js_srcs/terser_spec.js
  packages/typescript/internal/build_defs.bzl
  packages/typescript/internal/ts_project.bzl
  providers.bzl
Owners: @mattem, @gregmagolan, @soldair, @alexeagle, @mrmeku, @jbedard

chore: update lock files for release (#1972)
  e2e/bazel_managed_deps/package.json
  e2e/bazel_managed_deps/yarn.lock
  e2e/jasmine/package.json
  e2e/jasmine/yarn.lock
  e2e/ts_devserver/package.json
  e2e/ts_devserver/yarn.lock
  e2e/typescript/package.json
  e2e/typescript/yarn.lock
  e2e/webapp/package.json
  e2e/webapp/yarn.lock
  examples/angular/package.json
  examples/angular/yarn.lock
  examples/angular_bazel_architect/package.json
  examples/angular_bazel_architect/yarn.lock
  examples/angular_view_engine/package.json
  examples/angular_view_engine/yarn.lock
  examples/app/package.json
  examples/app/yarn.lock
  examples/kotlin/package-lock.json
  examples/kotlin/package.json
  examples/nestjs/package.json
  examples/nestjs/yarn.lock
  examples/protocol_buffers/package.json
  examples/protocol_buffers/yarn.lock
  examples/react_webpack/package.json
  examples/react_webpack/yarn.lock
  examples/vendored_node/package-lock.json
  examples/vendored_node/package.json
  examples/vendored_node_and_yarn/package.json
  examples/vendored_node_and_yarn/yarn.lock
  examples/web_testing/package.json
  examples/web_testing/yarn.lock
  examples/webapp/package.json
  examples/webapp/yarn.lock
  examples/worker/package.json
  examples/worker/yarn.lock
  scripts/update_nested_lock_files.sh
Owners: @mattem, @gregmagolan, @soldair, @alexeagle, @alan-agius4, @zachgrayio, @zMotivat0r, @rayman1104, @siberex, @mrmeku

fix: allow multiple run_node calls to be made from the same rule context
  internal/linker/link_node_modules.bzl
  internal/providers/node_runtime_deps_info.bzl
  internal/providers/test/BUILD.bazel
  internal/providers/test/_run_node_out.txt
  internal/providers/test/js-write-file.js
  internal/providers/test/run_node_test.bzl
Owners: @mattem, @gregmagolan, @soldair, @alexeagle

chore(docs): add testimonial from Allocadia
  README.md
Owners: @mattem, @gregmagolan, @soldair, @alexeagle

fix(typescript): Exclude .json from _out_paths
  packages/typescript/internal/ts_project.bzl
Owners: @mattem, @gregmagolan, @soldair, @alexeagle

fix(builtin): fix linker bug when there are no third-party modules
  internal/linker/index.js
  internal/linker/link_node_modules.ts
  internal/linker/test/no_npm_deps/BUILD.bazel
  internal/linker/test/no_npm_deps/input.js
  internal/linker/test/no_npm_deps/no_npm_deps.bzl
Owners: @mattem, @gregmagolan, @soldair, @alexeagle

fix(typescript): add .proto files from npm deps to inputs of ts_library (#1991)
  packages/typescript/internal/build_defs.bzl
Owners: @mattem, @gregmagolan, @soldair, @alexeagle

fix(builtin): fixes nodejs_binary to collect JSNamedModuleInfo
  internal/node/node.bzl
Owners: @mattem, @gregmagolan, @soldair, @alexeagle

test(typescript): add directory test for pkg_npm, fix #1989
  internal/pkg_npm/test/directory/BUILD.bazel
  internal/pkg_npm/test/directory/generate.bzl
  internal/pkg_npm/test/directory/main.js
  internal/pkg_npm/test/directory/package.json
Owners: @mattem, @gregmagolan, @soldair, @alexeagle

refactor(builtin): print error stack when linker fails unexpectedly
  internal/linker/index.js
  internal/linker/link_node_modules.ts
Owners: @mattem, @gregmagolan, @soldair, @alexeagle

fix(builtin): linker silently not generating expected links in windows
  internal/linker/index.js
  internal/linker/link_node_modules.ts
  internal/linker/test/link_node_modules.spec.ts
Owners: @mattem, @gregmagolan, @soldair, @alexeagle

feat(typescript): add OutputGroupInfo to ts_project with type definitions
  packages/typescript/internal/ts_project.bzl
  packages/typescript/test/ts_project/output_group/BUILD.bazel
  packages/typescript/test/ts_project/output_group/index.golden.d.ts
  packages/typescript/test/ts_project/output_group/index.ts
  packages/typescript/test/ts_project/output_group/tsconfig.json
Owners: @mattem, @gregmagolan, @soldair, @alexeagle

docs(builtin): document userspace workaround for running actions/tests in a specific working directory
  internal/node/node.bzl
  internal/node/npm_package_bin.bzl
  internal/node/test/chdir/BUILD.bazel
  internal/node/test/chdir/package.json
  internal/node/test/chdir/test.js
  internal/node/test/chdir/tool.js
Owners: @mattem, @gregmagolan, @soldair, @alexeagle

fix(typescript): add json to ts_project DefaultInfo, fix #1988
  packages/typescript/internal/ts_project.bzl
  packages/typescript/test/ts_project/json/BUILD.bazel
  packages/typescript/test/ts_project/json/bar-no-outdir.golden.json
  packages/typescript/test/ts_project/json/bar.golden.json
  packages/typescript/test/ts_project/json/bar.json
  packages/typescript/test/ts_project/json/foo-no-outdir.golden.json
  packages/typescript/test/ts_project/json/foo.golden.json
  packages/typescript/test/ts_project/json/subdir/a.ts
  packages/typescript/test/ts_project/json/subdir/foo.json
  packages/typescript/test/ts_project/json/tsconfig.json
Owners: @mattem, @gregmagolan, @soldair, @alexeagle

test(typescript): fix ts_project json tests
  packages/typescript/test/ts_project/json/BUILD.bazel
  packages/typescript/test/ts_project/json/bar-no-outdir.golden.json
  packages/typescript/test/ts_project/json/foo-no-outdir.golden.json
  packages/typescript/test/ts_project/json/verify.js
Owners: @mattem, @gregmagolan, @soldair, @alexeagle

refactor: simplify json output file declaration
  packages/typescript/internal/ts_project.bzl
  packages/typescript/test/ts_project/json/BUILD.bazel
  packages/typescript/test/ts_project/json/bar.golden.json
  packages/typescript/test/ts_project/json/foo.golden.json
  packages/typescript/test/ts_project/json/verify.js
Owners: @mattem, @gregmagolan, @soldair, @alexeagle

feat(cypress): add cypress_web_test rule and @bazel/cypress package
  .bazelci/presubmit.yml
  .bazelrc
  WORKSPACE
  commitlint.config.js
  examples/BUILD.bazel
  examples/cypress/.bazelrc
  examples/cypress/BUILD.bazel
  examples/cypress/WORKSPACE
  examples/cypress/cypress.json
  examples/cypress/hello.spec.ts
  examples/cypress/package.json
  examples/cypress/plugin.ts
  examples/cypress/tsconfig.json
  examples/cypress/world.spec.js
  examples/cypress/yarn.lock
  packages/cypress/BUILD.bazel
  packages/cypress/index.bzl
  packages/cypress/install.md
  packages/cypress/internal/cypress-install.js
  packages/cypress/internal/cypress_repository.bzl
  packages/cypress/internal/plugins/base.js
  packages/cypress/internal/plugins/index.template.js
  packages/cypress/internal/run-cypress.js
  packages/cypress/internal/template.cypress_web_test.bzl
  packages/cypress/package.json
  packages/cypress/test/BUILD.bazel
  packages/cypress/test/cypress.json
  packages/cypress/test/hello.spec.ts
  packages/cypress/test/package.json
  packages/cypress/test/plugin.ts
  packages/cypress/test/tsconfig.json
  packages/cypress/test/world.spec.js
  packages/cypress/test/yarn.lock
Owners: @mattem, @gregmagolan, @soldair, @alexeagle
